.Landingbg {
	width: 100vw;
	height: 100vh;
	background-image: url('./../../assets/halfbg.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color: rgb(246, 246, 246);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.Container {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 2rem;
	font-weight: bold;
}

.animatedGIF {
	width: 40%;
}

.animatedGIF img {
	width: 100%;
	height: 100%;
}

.rules {
	margin-top: 2rem;
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-transform: capitalize;
	color: white;
	font-size: 2rem;
}

.rules p {
	margin-bottom: 1rem;
	width: 80%;
	text-align: left;
}

.rules ul {
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	font-size: 1rem;
}

.rules li {
	width: 100%;
	list-style-type: disc;
	margin-bottom: 0.5rem;
}

.playBtn {
	margin-top: 2rem;
	width: 40%;
	height: 70px;
	border-radius: 3rem;
	font-size: 2rem;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	background-color: white;
	color: rgb(255, 83, 72);
	border: none;
}

.Container button:hover {
	background-color: rgb(153, 153, 255);
	color: rgb(255, 83, 72);
	transition: all 0.3s ease-in-out;
}

.hider {
	background-color: rgba(0, 0, 0, 0.65);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.model {
	background-color: rgb(217, 214, 214);
	width: 50%;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	text-align: center;
	border-radius: 3rem;
	border: 3px solid orange;
}

.model button {
	margin-top: 2rem;
	width: 30%;
	height: 70px;
	border-radius: 3rem;
	font-size: 2rem;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	background-color: rgb(255, 170, 4);
	color: rgb(255, 83, 72);
	border: none;
}

.close {
	position: absolute;
	top: 5%;
	right: 5%;
	font-size: 5rem;
	color: rgb(255, 170, 4);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	z-index: 2;
}

.close:hover {
	color: rgb(255, 83, 72);
	transition: all 0.3s ease-in-out;
}
