.coins {
	width: 60%;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.coins {
		width: 70%;
	}
}

@media screen and (max-width: 767px) {
	.coins {
		width: 90%;
	}
}
