.winBg {
	width: 100%;
	height: 100%;
	background-image: url('./../../assets/win.gif');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: contain;
	background-color: rgb(237, 237, 237);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	text-align: center;
}

.winBg p {
	font-size: 5rem;
	margin-bottom: 2rem;
}

.winBg .newRecord {
	font-size: 3rem;
}

.winBg button {
	padding: 0.5rem 1rem;
	font-size: 2rem;
	border-radius: 2rem;
	border: 2px solid black;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.game {
	width: 100%;
	height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width: 1024px) and (min-width: 601px) {
	.winBg p {
		font-size: 3rem;
		margin-bottom: 1.5rem;
	}

	.winBg .newRecord {
		font-size: 1.8rem;
	}

	.winBg button {
		padding: 0.3rem 1rem;
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 600px) {
	.winBg p {
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	.winBg .newRecord {
		font-size: 1.2rem;
	}

	.winBg button {
		padding: 0.3rem 1rem;
		font-size: 1rem;
	}
}
