.signUpbg {
	width: 100vw;
	height: 100%;
	background-image: url('./../../assets/halfbg.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color: rgb(246, 246, 246);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.signUpContainer {
	width: 100%;
	height: 80vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
}

.signUpForm {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.signUpForm input {
	width: 70%;
	height: 50px;
	margin-bottom: 2rem;
	padding-left: 1rem;
	border-radius: 2rem;
	font-size: 1.2rem;
	border: none;
}

.signUpForm button {
	width: 200px;
	height: 60px;
	font-size: 2rem;
	font-weight: bold;
	border-radius: 2rem;
	transition: all 0.3s ease-in-out;
	margin-bottom: 1rem;
	cursor: pointer;
	background-color: rgb(255, 170, 4);
	color: rgb(255, 83, 72);
	border: 2px solid white;
}

.signUpForm button:hover {
	background-color: rgb(153, 153, 255);
	color: rgb(255, 83, 72);
	transition: all 0.3s ease;
}

.signUpForm p {
	font-size: 1.2rem;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.signUpForm input {
		height: 40px;
		margin-bottom: 1rem;
		font-size: 1rem;
	}

	.signUpForm button {
		width: 120px;
		height: 40px;
		font-size: 1.5rem;
	}

	.signUpForm p {
		font-size: 1rem;
	}
}

@media screen and (max-width: 767px) {
	.signUpbg {
		display: none;
	}

	.signUpForm {
		width: 80%;
	}

	.signUpForm input {
		width: 100%;
		border: 1px solid black;
		height: 40px;
		margin-bottom: 1rem;
		font-size: 0.9rem;
	}

	.signUpForm button {
		width: 100px;
		height: 35px;
		font-size: 1.2rem;
	}

	.signUpForm p {
		font-size: 0.7rem;
	}
}
