@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Delius Swash Caps', cursive;
}

a {
	text-decoration: none;
}

ul,
li {
	list-style-type: none;
}
